<!-- Footer code here -->
<hr>
<p class="pull-right">&copy; Copyright Green Space <% new Date().getFullYear(); %></p>
<script src="js/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>