<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head %>
</head>
<body>
<header>
	<% include ../partials/header %>
</header>
<div class="container">
    <h1 class="page-header">Register</h1>
    <form method="post">
        <div class="form-group">
            <label for="inputEmail">Email address</label>
            <input name="email" type="email" class="form-control" id="inputEmail" placeholder="Email">
        </div>
        <div class="form-group">
            <label for="inputPassword">Password</label>
            <input name="password" type="password" class="form-control" id="inputPassword" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="inputPasswordRepeat">Repeat Password</label>
            <input name="repeat" type="password" class="form-control" id="inputPasswordRepeat" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="inputEmail">Location</label>
            <input name="location" type="text" class="form-control" id="inputEmail" placeholder="City, State">
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
	
	<footer>
		<% include ../partials/footer %>
	</footer>
</div>
</body>
</html>